*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 74, 74);
}
.calculator{
    border: 1px solid red;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(25, 18, 6);
    box-shadow: 0px 5px 15px rgb(228, 14, 14);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: -5px 3px 15px rgb(239, 230, 230);
    text-align: right;
    font-size: 20px;
    cursor: pointer;
    color: aliceblue;
}
input::placeholder{
    color: white;
}
button{
    margin: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: -5px -5px 15px red;
    cursor: pointer;
}
.equalbtn{
    background-color: orange;
}
.operator{
    color: rgb(203, 136, 12);
}